@font-face {
	font-family: "Maki Libertinus Mono";
	src: url(fonts/MakiLibertinusMono-Regular.woff2) format(woff2);
	font-weight: 400;
}

@font-face {
	font-family: "Maki Libertinus Mono";
	src: url(fonts/MakiLibertinusMono-Medium.woff2) format(woff2);
	font-weight: 500;
}

@font-face {
	font-family: "Maki Libertinus Mono";
	src: url(fonts/MakiLibertinusMono-SemiBold.woff2) format(woff2);
	font-weight: 600;
}

@font-face {
	font-family: "Maki Libertinus Mono";
	src: url(fonts/MakiLibertinusMono-Bold.woff2) format(woff2);
	font-weight: 700;
}
