@font-face {
	font-family: "SN Pro";
	font-style: normal;
	font-weight: 200;
	font-display: block;
	src: url("SNPro-Thin.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: italic;
	font-weight: 200;
	font-display: block;
	src: url("SNPro-ThinItalic.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: url("SNPro-Light.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: italic;
	font-weight: 300;
	font-display: block;
	src: url("SNPro-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("SNPro-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: italic;
	font-weight: 400;
	font-display: block;
	src: url("SNPro-RegularItalic.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("SNPro-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: italic;
	font-weight: 500;
	font-display: block;
	src: url("SNPro-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: normal;
	font-weight: 600;
	font-display: block;
	src: url("SNPro-Semibold.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: italic;
	font-weight: 600;
	font-display: block;
	src: url("SNPro-SemiboldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("SNPro-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url("SNPro-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: normal;
	font-weight: 800;
	font-display: block;
	src: url("SNPro-Heavy.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: italic;
	font-weight: 800;
	font-display: block;
	src: url("SNPro-HeavyItalic.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url("SNPro-Black.woff2") format("woff2");
}

@font-face {
	font-family: "SN Pro";
	font-style: italic;
	font-weight: 900;
	font-display: block;
	src: url("SNPro-BlackItalic.woff2") format("woff2");
}
