@font-face {
	font-family: "Maple Mono NL";
	font-style: normal;
	font-weight: 100;
	font-display: block;
	src: url("MapleMonoNL-Thin.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: italic;
	font-weight: 100;
	font-display: block;
	src: url("MapleMonoNL-ThinItalic.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: normal;
	font-weight: 200;
	font-display: block;
	src: url("MapleMonoNL-ExtraLight.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: italic;
	font-weight: 200;
	font-display: block;
	src: url("MapleMonoNL-ExtraLightItalic.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: url("MapleMonoNL-Light.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: italic;
	font-weight: 300;
	font-display: block;
	src: url("MapleMonoNL-LightItalic.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("MapleMonoNL-Regular.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: italic;
	font-weight: 400;
	font-display: block;
	src: url("MapleMonoNL-Italic.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("MapleMonoNL-Medium.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: italic;
	font-weight: 500;
	font-display: block;
	src: url("MapleMonoNL-MediumItalic.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: normal;
	font-weight: 600;
	font-display: block;
	src: url("MapleMonoNL-SemiBold.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: italic;
	font-weight: 600;
	font-display: block;
	src: url("MapleMonoNL-SemiBoldItalic.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("MapleMonoNL-Bold.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: italic;
	font-weight: 700;
	font-display: block;
	src: url("MapleMonoNL-BoldItalic.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: normal;
	font-weight: 800;
	font-display: block;
	src: url("MapleMonoNL-ExtraBold.ttf.woff2") format("woff2");
}

@font-face {
	font-family: "Maple Mono NL";
	font-style: italic;
	font-weight: 800;
	font-display: block;
	src: url("MapleMonoNL-ExtraBoldItalic.ttf.woff2") format("woff2");
}
